* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

nav {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.front-page {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.front-page img {
  max-width: 1300px;
  align-self: center;
}

.front-page h2 {
  margin-bottom: 5px;
}

.front-page p {
  opacity: 0.6;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  margin: 10px;
}

.first-card {
  width: 200px;
  font-size: 0.8em;
}

.img {
  width: 300px;
  border-radius: 10px;
}

.section-1 {
  display: flex;
  align-items: center;
}

.section-1 span {
  opacity: 0.6;
}

.first-star {
  height: 14px;
  align-items: center;
}

